<footer class="footer">
    <div class="columns is-desktop">
        <div class="column is-three-fifths">
            <p class="copyright">Copyright &copy;
                <script>
                    new Date().getFullYear();
                </script> abhey
            </p>
        </div>
        <div class="column is-two-fifths">
            <ul class="social">
                <li>
                    <a href=""><i class="fa fa-info-circle"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href=""><i
                            class="fa fa-instagram"></i></a>
                </li>
                {{!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> --}}
            </ul>
        </div>
    </div>
</footer>